// Global app styles

@import 'bootstrap/functions';
@import "variables";
@import "bootstrap/mixins";

// Correct for rem units
html {
  font-size: 16px;
}


@media print {
  @page {
    size: 1200px 11in;
    margin: 2cm
  }

  table {
    page-break-inside: avoid;
  }

  body {
    margin: 2rem;
    background-color: #fff !important;
  }

  .afp-forecast-view {
    background-color: #fff !important;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

.afp-forecast-view {
  color: $body-color;
  background-color: $body-bg;

  // typography
  a {
    color: $link-color;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.

    @include hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: $headings-margin-bottom;
    margin-top: 0;
    // font-family: $headings-font-family;
    // font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    letter-spacing: .5px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
  }

  h1,
  .h1 {
    @include font-size($h1-font-size !important);
    margin-bottom: 2 * $headings-margin-bottom;
  }

  h2,
  .h2 {
    @include font-size($h2-font-size !important);
    margin-bottom: 2 * $headings-margin-bottom;
  }

  h3,
  .h3 {
    @include font-size($h3-font-size !important);
    margin-bottom: 1.5 * $headings-margin-bottom;
  }

  h4,
  .h4 {
    @include font-size($h4-font-size !important);
  }

  h5,
  .h5 {
    @include font-size($h5-font-size !important);
  }

  h6,
  .h6 {
    @include font-size($h6-font-size !important);
    color: $gray-500 !important;
  }

  p,
  .p {
    margin: 0 !important;
    margin-bottom: 1rem !important;
  }

  label {
    //font-family: $headings-font-family;
    font-size: $font-size-sm !important;
    //text-transform: uppercase;
    font-weight: $headings-font-weight !important;
  }

  button {
    font-family: inherit;
    cursor: pointer;
  }

  figure {
    margin: 0 0 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  // Photoswipe
  &.pswp {
    font-family: $font-family-base;
    font-size: $font-size-base;

    .pswp__caption__center {
      text-align: center;
    }
  }

  // Tooltips
  .afp-tooltip {
    // display: block !important;
    z-index: 10000;

    .afp-tooltip-inner {
      background: $tooltip-bg;
      color: $tooltip-color;
      font-size: $tooltip-font-size;
      border-radius: $tooltip-border-radius;
      padding: $tooltip-padding-y $tooltip-padding-x;
      max-width: 300px;
    }

    .afp-tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: $tooltip-bg;
      z-index: 1;
    }

    &[x-placement^="bottom"] {
      margin-top: 5px;

      .afp-tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .afp-popover {
    z-index: 10000;

    &:focus {
      outline: none;
    }

    .afp-popover-inner {
      color: $popover-body-color;
      background: $popover-bg;
      font-size: $popover-font-size;
      padding: $popover-body-padding-y $popover-body-padding-x;
      border-radius: $popover-border-radius;
      box-shadow: $popover-box-shadow;
      max-width: $popover-max-width;

      a,
      a:hover {
        color: $no-rating-border !important;
      }
    }

    .afp-popover-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: $popover-bg;
      z-index: 1;
    }

    &[x-placement^="top"] {
      margin-bottom: 5px;

      .afp-popover-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: 5px;

      .afp-popover-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^="right"] {
      margin-left: 5px;

      .afp-popover-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[x-placement^="left"] {
      margin-right: 5px;

      .afp-popover {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[aria-hidden="true"] {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.15s, visibility 0.15s;
    }

    &[aria-hidden="false"] {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.15s;
    }
  }
}