@import 'bootstrap/functions';
@import "bootstrap/mixins";
@import "variables";

@import "bootstrap/grid";

.btn {
  text-transform: capitalize;
  letter-spacing: .5px;
  text-decoration: none !important;
  display: inline-block;
  font-family: inherit;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }
}

.btn-primary {
  @include button-variant($primary, $primary);
}

.btn-secondary {
  @include button-variant($secondary, $secondary);
}

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

.table-responsive {
  @include table-responsive;
}
